* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/public/assets/images/backgrounds/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#top_bar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/public/assets/images/backgrounds/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px dashed;
}

.buttons_navbar_color {
    background-color: #fd7e14;
}

.central_content {
    max-height: 50vh;
}

#truck {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#truck_driver {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#bottom_bar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/public/assets/images/backgrounds/footer.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 5px dashed;
    display: flex;
    justify-content: space-evenly;
}

#contacts {
    text-align: start;
}

#buttons_form {
    display: flex;
}

#informations {
    grid-template-columns: 1fr 1fr;
}

.division {
    border-right: 1px solid black;
    margin-right: 10px;
}

@media (width <= 430px) {
    body {
        background-size: 200vw 100vh;
    }

    #page_title {
        width: 100%;
        text-align: center;
    }

    #buttons_navbar {
        margin-top: 8px;
    }

    #truck {
        top: 50%;
        left: 5%;
        width: 90%;
    }

    #truck_driver {
        top: 50%;
        left: 60%;
        width: 50px;
    }

    #bottom_bar {
        display: grid;
    }

    #contacts {
        text-align: center;
    }

    #buttons_form {
        display: grid;
    }

    #informations {
        grid-template-columns: 1fr;
    }

    .division {
        border-right: none;
        margin-right: none;
    }
}