* {
    margin: 0;
    padding: 0;
}

#top_bar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/images/backgrounds/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px dashed black;
}

#bottom_bar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/images/backgrounds/footer.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 5px dashed black;
    display: flex;
    gap: 3rem;
}

@media (width <= 430px) {
    #buttons_navbar {
        margin-top: 8px;
    }

    #bottom_bar {
        display: grid;
        gap: 0rem;
    }
}