* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/assets/images/backgrounds/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.buttons_navbar_color {
    background-color: #fd7e14;
}

#central_content {
    max-height: 50vh;
}

#truck {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#truck_driver {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#top_bar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/images/backgrounds/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px dashed black;
}

#bottom_bar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/images/backgrounds/footer.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 5px dashed black;
    display: flex;
    gap: 3rem;
}

#contacts {
    text-align: start;
}

@media (width <= 430px) {
    body {
        background-size: 200vw 100vh;
    }

    #buttons_navbar {
        margin-top: 8px;
    }

    #truck {
        top: 50%;
        left: 5%;
        width: 90%;
    }

    #truck_driver {
        top: 50%;
        left: 60%;
        width: 50px;
    }

    #bottom_bar {
        display: grid;
        gap: 0rem;
    }

    #contacts {
        text-align: center;
    }
}