* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#barra_inferior {
    display: flex;
    gap: 3rem;
}

@media (width <= 430px) {
    body {
        background-size: 200vw 100vh;
    }

    #barra_inferior {
        display: grid;
        gap: 0rem;
    }
}